<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees | Show images in base64</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>

<h1>Employee</h1>
<div class="container-fluid">
    <div class="col-md-9 col-12">
        <button type="button"
                class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdropCreate"> Create
        </button>
        <table class="table table-striped border border-2">
            <thead>
            <tr>
                <th>EMPNO</th>
                <th>ENAME</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>HIREDATE</th>
                <th>SAL</th>
                <th>COMM</th>
                <th>DEPT</th>
                <th>IMG</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.getEmpno()}">ID</td>
                <td th:text="${employee.getEname()}">Name</td>
                <td th:text="${employee.getJob()}">Name</td>
                <td th:text="${employee.getMgr()}">Name</td>
                <td th:text="${employee.getHiredate()}">Name</td>
                <td th:text="${employee.getSal()}">Name</td>
                <td th:text="${employee.getComm()}">Name</td>
                <td th:text="${employee.getDept()}">Name</td>
                <td>
                    <img th:if="${employee.getBase64Photo() != null}"
                         th:src="'data:image/jpeg;base64,' + ${employee.getBase64Photo()}"
                         alt="User Photo" width="100" height="100"/>
                </td>
                <td>
                    <!-- Button trigger Update -->
                    <button type="button" th:attr="onclick='updateEmployee(' + ${employee.getEmpno()} + ')'"
                            class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdropUpdate">Update
                    </button>
                </td>
                <td>
                    <!-- Button trigger Delete -->
                    <button type="button" th:attr="onclick='setEmpno(' + ${employee.getEmpno()} + ')'"
                            class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#staticBackdropDelete">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabelCreate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabelCreate">Create</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="empnoCreateModal" class="form-label">EMPNO</label>
                        <input type="text" class="form-control" id="empnoCreateModal" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="enameCreateModal" class="form-label">ENAME</label>
                        <input type="text" class="form-control" id="enameCreateModal" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="jobCreateModal" class="form-label">JOB</label>
                        <input type="text" class="form-control" id="jobCreateModal">
                    </div>
                    <div class="mb-3">
                        <label for="mgrCreateModal" class="form-label">MGR</label>
                        <input type="number" class="form-control" id="mgrCreateModal">
                    </div>
                    <div class="mb-3">
                        <label for="hiredateCreateModal" class="form-label">HIREDATE</label>
                        <input type="text" class="form-control" id="hiredateCreateModal">
                    </div>
                    <div class="mb-3">
                        <label for="salCreateModal" class="form-label">SAL</label>
                        <input type="number" class="form-control" id="salCreateModal">
                    </div>
                    <div class="mb-3">
                        <label for="commCreateModal" class="form-label">COMM</label>
                        <input type="number" class="form-control" id="commCreateModal">
                    </div>
                    <div class="mb-3">
                        <label for="deptCreateModal" class="form-label">DEPT</label>
                        <input type="number" class="form-control" id="deptCreateModal">
                    </div>
                    <div class="mb-3">
                        <label for="imgCreateModal" class="form-label">IMG</label>
                        <input type="file" class="form-control" id="imgCreateModal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick=createEmployeeModal() class="btn btn-primary">save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="staticBackdropUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabelUpdate">Update</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="enameModal" class="form-label">ENAME</label>
                        <input type="text" class="form-control" id="enameModal" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="jobModal" class="form-label">JOB</label>
                        <input type="text" class="form-control" id="jobModal">
                    </div>
                    <div class="mb-3">
                        <label for="mgrModal" class="form-label">MGR</label>
                        <input type="number" class="form-control" id="mgrModal">
                    </div>
                    <div class="mb-3">
                        <label for="hiredateModal" class="form-label">HIREDATE</label>
                        <input type="text" class="form-control" id="hiredateModal">
                    </div>
                    <div class="mb-3">
                        <label for="salModal" class="form-label">SAL</label>
                        <input type="number" class="form-control" id="salModal">
                    </div>
                    <div class="mb-3">
                        <label for="commModal" class="form-label">COMM</label>
                        <input type="number" class="form-control" id="commModal">
                    </div>
                    <div class="mb-3">
                        <label for="deptModal" class="form-label">DEPT:</label>
                        <span id="deptNameModal"></span>
                        <input type="number" class="form-control" id="deptModal">
                    </div>
                    <div class="mb-3">
                        <label for="imgUpdateModal" class="form-label">IMG</label>
                        <input type="file" class="form-control" id="imgUpdateModal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="updateEmployeeModal()" class="btn btn-primary">save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabelDelete">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>You are deleting the customer. Are you sure?</span>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="deleteEmployee()" class="btn btn-primary">yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">no</button>
            </div>
        </div>
    </div>
</div>

<script>
    let empnoWillDelete;
    let employeeWillUpdate;

    function readFileAsBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);

            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    async function createEmployeeModal() {
        console.log("createEmployee called");
        const input = document.getElementById("imgCreateModal");
        const file = input.files[0]; // Get the first selected file

        const base64String = await readFileAsBase64(file);
        console.log("image" + base64String);

        const employeeData = {
            empno: document.getElementById('empnoCreateModal').value,
            ename: document.getElementById('enameCreateModal').value,
            job: document.getElementById('jobCreateModal').value,
            mgr: document.getElementById('mgrCreateModal').value,
            hiredate: document.getElementById('hiredateCreateModal').value,
            sal: document.getElementById('salCreateModal').value,
            comm: document.getElementById('commCreateModal').value,
            dept: document.getElementById('deptCreateModal').value,
            imageBase64: base64String
        };

        const response = await fetch('/api/employee', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(employeeData)
        });

        if (response.ok) {
            console.log('Employee created successfully');
        } else {
            const data = JSON.stringify(response.body);
            console.error('Failed to create employee' + data);
        }
        location.reload(); // Optionally refresh the page
    }

    function updateEmployee(empno) {
        console.log(empno);
        fetch('/api/employee/' + empno)
            .then(response => response.json())
            .then(data => {
                document.getElementById('enameModal').value = data.ename;
                document.getElementById('jobModal').value = data.job;
                document.getElementById('mgrModal').value = data.mgr;
                document.getElementById('hiredateModal').value = data.hiredate;
                document.getElementById('salModal').value = data.sal;
                document.getElementById('commModal').value = data.comm;
                document.getElementById('deptNameModal').innerText = data.dept;
                document.getElementById('deptModal').value = data.deptno;
                employeeWillUpdate = data.empno;
                console.log("employeeWillUpdate: " + employeeWillUpdate);
            });
    }

    async function updateEmployeeModal() {
        console.log("updateEmployee called");
        const input = document.getElementById("imgUpdateModal");
        const file = input.files[0]; // Get the first selected file
        let base64String;
        if (input.files.length > 0) {
            console.log("file not null: " + file);
            base64String = await readFileAsBase64(file);
            console.log("image" + base64String);
        }
        const employeeData = {
            ename: document.getElementById('enameModal').value,
            job: document.getElementById('jobModal').value,
            mgr: document.getElementById('mgrModal').value,
            hiredate: document.getElementById('hiredateModal').value,
            sal: document.getElementById('salModal').value,
            comm: document.getElementById('commModal').value,
            dept: document.getElementById('deptModal').value,
            imageBase64: base64String
        };

        const response = await fetch('/api/employee/' + employeeWillUpdate, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(employeeData)
        });

        if (response.ok) {
            console.log('Employee updated successfully');
        } else {
            console.error('Failed to update employee' + response.body);
        }
        location.reload(); // Optionally refresh the page
    }

    async function deleteEmployee() {
        console.log("empnoWillDelete is deleted: " + empnoWillDelete);
        await fetch('/api/employee/' + empnoWillDelete, {
            method: 'DELETE'
        })
            .then(data => {
                console.log(data);
            });
        location.reload();
    }

    function setEmpno(empno) {
        empnoWillDelete = empno;
        console.log("empnoWillDelete setted: " + empnoWillDelete);
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>